@import "null.scss";

// Главные цвета
$primary-color:rgb(216, 162, 62);
$secondary-color:rgb(239, 239, 46);

// Размеры шрифтов
$regular-text:17px;

//Закругления
$primary-rounded:20px;
$secondary-rounded: 10px;

// Шаблоны
%rounded-template {
    border: 2px dashed $primary-color;
    border-radius: $primary-rounded;
}

@mixin card {
    background-color: gray;
    color: red;
}

@mixin rounded ($rounded-size) {
    border-radius: $rounded-size;
}

body, html {
    color: white;
    background-color: #202020;
    font-size: $regular-text;
}

section {
    padding: 100px;
    border: 2px solid $primary-color;
    @extend %rounded-template;
}

p {
    @extend %rounded-template;
}
.image-container {
@include rounded(30px);
width: 100px;
height: 100px;
}

h1 {
    font-size: 60px;
    &.offer-header {
        span {
            border-bottom: 3px dashed $primary-color;
        }
    }
}